.header {
    background-color: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    height: 12vh;
    width: 70%;
    align-items: center;
    border-radius: 1rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding: auto;
}

.btnsCont {
    display: flex;
    justify-content: space-around;
}

button,
input,
textarea {
    margin: 5px;
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1rem;
    transition: all 300ms;
}

.headerBtn:hover {
    color: blue;
    box-shadow: 0 0 2px blue;
    transition: all 300ms;
}

@media only screen and (max-width:789px) and (min-width:521px) {
    .header {
        width: 90vw;
    }
}

@media only screen and (max-width:520px) {
    .header {
        width: 90vw;
    }

    button{
        padding: 0.3rem 0.5rem;
        font-weight: bold;
        font-size: 0.9rem;
    }

    h1{
        font-size: 1.5rem;
    }
}